body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(51, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:598px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:158px;
  width:260px;
  height:598px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:158px;
  width:211px;
  height:33px;
}
#u183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:33px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:226px;
  width:260px;
  height:530px;
}
#u184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:530px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:226px;
  width:260px;
  height:530px;
}
#u186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:530px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:226px;
  width:224px;
  height:180px;
}
#u187_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u189_img.selected {
}
#u189.selected {
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:202px;
  height:20px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u188_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u192_img.selected {
}
#u192.selected {
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u191_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:83px;
  height:20px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:61px;
  height:20px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u197_img.selected {
}
#u197.selected {
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u196_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:69px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:47px;
  height:20px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:69px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:47px;
  height:20px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:69px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:47px;
  height:20px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'Century Gothic Italic', 'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:99px;
  height:20px;
  font-family:'Century Gothic Italic', 'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:90px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:68px;
  height:20px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:104px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:82px;
  height:20px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:100px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:190px;
  width:106px;
  height:26px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:190px;
  width:106px;
  height:26px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:598px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:158px;
  width:728px;
  height:598px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:152px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:308px;
  width:395px;
  height:152px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:391px;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:400px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:400px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:1000px;
  height:136px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:136px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:12px;
  width:299px;
  height:136px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:80px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:22px;
  width:81px;
  height:80px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:17px;
  width:89px;
  height:33px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:122px;
  width:174px;
  height:18px;
}
#u227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background-color:transparent;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:50px;
  width:151px;
  height:25px;
}
#u228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  background-color:transparent;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:84px;
  width:151px;
  height:18px;
}
#u229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background-color:transparent;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:60px;
  width:150px;
  height:40px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:106px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:26px;
  width:88px;
  height:106px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:299px;
  width:300px;
  height:170px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:296px;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:421px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:309px;
  width:300px;
  height:170px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:296px;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:427px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:427px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:312px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:301px;
  width:260px;
  height:312px;
  opacity:0.5;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:158px;
  width:728px;
  height:598px;
}
#u240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:598px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
