body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(51, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:404px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:185px;
  width:520px;
  height:404px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:61px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:280px;
  width:409px;
  height:61px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:61px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:356px;
  width:409px;
  height:61px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:204px;
  width:438px;
  height:62px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:62px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#009966;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:58px;
  background:inherit;
  background-color:rgba(0, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:432px;
  width:204px;
  height:58px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:200px;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:287px;
  width:384px;
  height:46px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:46px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:364px;
  width:384px;
  height:46px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:46px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:500px;
  width:300px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:transparent;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#336633;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:185px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:267px;
  width:273px;
  height:185px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:269px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:403px;
  width:131px;
  height:26px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:127px;
  word-wrap:break-word;
}
