body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(51, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:598px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:158px;
  width:260px;
  height:598px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:158px;
  width:211px;
  height:33px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:33px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:226px;
  width:260px;
  height:530px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:530px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:226px;
  width:260px;
  height:530px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:530px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:226px;
  width:224px;
  height:180px;
}
#u105_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u107_img.selected {
}
#u107.selected {
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:202px;
  height:20px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u106_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:99px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u110_img.selected {
}
#u110.selected {
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u109_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:83px;
  height:20px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:61px;
  height:20px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u115_img.selected {
}
#u115.selected {
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u114_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:69px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:47px;
  height:20px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:69px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:47px;
  height:20px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:69px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:47px;
  height:20px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-family:'Century Gothic Italic', 'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:99px;
  height:20px;
  font-family:'Century Gothic Italic', 'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:77px;
  height:20px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:90px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:68px;
  height:20px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:104px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:82px;
  height:20px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:100px;
  height:20px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:190px;
  width:106px;
  height:26px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:190px;
  width:106px;
  height:26px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:598px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:158px;
  width:728px;
  height:598px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:152px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:381px;
  width:395px;
  height:152px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:391px;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:473px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:473px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:1000px;
  height:136px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:136px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:12px;
  width:299px;
  height:136px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:80px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:22px;
  width:81px;
  height:80px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:17px;
  width:89px;
  height:33px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:122px;
  width:174px;
  height:18px;
}
#u145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background-color:transparent;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:50px;
  width:151px;
  height:25px;
}
#u146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  background-color:transparent;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:84px;
  width:151px;
  height:18px;
}
#u147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background-color:transparent;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:60px;
  width:150px;
  height:40px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:106px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:26px;
  width:88px;
  height:106px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:312px;
  width:300px;
  height:170px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:296px;
  word-wrap:break-word;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:434px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:636px;
  width:728px;
  height:120px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:646px;
  width:300px;
  height:25px;
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:312px;
  width:300px;
  height:170px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:296px;
  word-wrap:break-word;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:430px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:430px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:312px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:301px;
  width:260px;
  height:312px;
  opacity:0.5;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:677px;
  width:75px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:71px;
  word-wrap:break-word;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:677px;
  width:75px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:71px;
  word-wrap:break-word;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:684px;
  width:140px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:684px;
  width:140px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:158px;
  width:728px;
  height:478px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:478px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:158px;
  width:728px;
  height:478px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:478px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
