body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(51, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:598px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:158px;
  width:260px;
  height:598px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:158px;
  width:211px;
  height:33px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:33px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:underline;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:226px;
  width:260px;
  height:530px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:530px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:226px;
  width:260px;
  height:530px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:530px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:190px;
  width:106px;
  height:26px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:190px;
  width:106px;
  height:26px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:598px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:158px;
  width:728px;
  height:598px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:448px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:233px;
  width:372px;
  height:448px;
  opacity:0.5;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:152px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:308px;
  width:395px;
  height:152px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:391px;
  word-wrap:break-word;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:400px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:400px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:1000px;
  height:136px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:136px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:12px;
  width:299px;
  height:136px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:80px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:22px;
  width:81px;
  height:80px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:17px;
  width:89px;
  height:33px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:underline;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:122px;
  width:174px;
  height:18px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background-color:transparent;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:50px;
  width:151px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  background-color:transparent;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:84px;
  width:151px;
  height:18px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background-color:transparent;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:60px;
  width:150px;
  height:40px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:106px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:26px;
  width:88px;
  height:106px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:299px;
  width:300px;
  height:170px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:296px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:421px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:796px;
  width:300px;
  height:170px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:598px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:158px;
  width:728px;
  height:598px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(51, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:636px;
  width:728px;
  height:120px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:719px;
  width:252px;
  height:22px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u75_input:disabled {
  color:grayText;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:684px;
  width:300px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:649px;
  width:300px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:684px;
  width:39px;
  height:25px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:684px;
  width:208px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:719px;
  width:140px;
  height:22px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:677px;
  width:75px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:71px;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:677px;
  width:75px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:71px;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:309px;
  width:300px;
  height:170px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:296px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:427px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:427px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(187, 234, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:309px;
  width:300px;
  height:170px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:61px;
  width:296px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:431px;
  width:79px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
